<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset = "ISO-8859-1" />
      <link href = "css/styles.css" rel = "stylesheet"/>
      <title>Spring Boot Application</title>
   </head>
   <body>
   		<p th:if="${clients.empty}">
   			<span>Aucun clients trouvés</span>
   		<p>
   		<p th:each="client : ${clients}">
    		<span th:text="${client.firstname}">First name</span>
    		<span th:text="${client.lastname}">Last name</span>
    		<span th:text="${client.mailadress}">Mail adress</span>
		</p>
   </body>
</html>